body{
    background-color: #ffffff;
}

/* 404 NOT FOUND */
header{
    padding-left: 77px;

    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;    
}
.container{
    display: grid;
    width: 80%;
    margin: auto;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.image{
    grid-column: 1/2;
    height: 450px;
    width: 540px;
}
img{
    width: 450px;
    height: 400px;
    padding-top: 50px;
}
.content{
    grid-column: 2/2;
    justify-content: center;
    font-family: Inconsolata;
    padding-right: 30px;
    padding-bottom: 250px;
}
p{
    width: 400px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}
h1{
    width: 560px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}
button{
    position: absolute;
    width: 216px;
    height: 68px;
    border-radius: 5px;
    color: #ffffff;
    background: #333333;
}
footer{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.035em;
    padding-top: 10px;
    padding-bottom: 10px;

    color: #333333;
    text-align: center;
}

@media(max-width: 500px){

    
    /* 404 NOT FOUND */
    header{
        padding-left: 30px;
        font-family: Inconsolata;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        
        color: #333333;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: auto;
    }
    img{
        width: 450px;
        height: 400px;
        padding-top: 10px;
    }

    p{
        width: 400px;
        font-family: Space Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.035em;
        color: #4F4F4F;
        padding: 5px 5px 5px 50px;

    }
    h1{
        width: 400px;
        
        font-family: Space Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 95px;
        letter-spacing: -0.035em;
        color: #333333;
        padding: 5px 5px 5px 50px;
    }
    button{
        position: absolute;
        width: 216px;
        height: 68px;
        border-radius: 5px;
        color: #ffffff;
        background: #333333;
        margin-left: 120px;
    }
}